fastapi
SQLAlchemy
loguru
wordcloud
pymorphy3
stop-words
transformers[torch]<4.43
pgvector
emoji
pydantic-settings
uvicorn
gunicorn[uvicorn]
asyncpg
protobuf
sentencepiece
pandas
#torch
#transformers<4.43